/* Code folding */
/* Each code block button */
.code-folding-btn { margin-bottom: 4px; }
.row {
    display: flex;
    border-bottom: solid 1px #d7d7d7;
}
.collapse { display: none; }
.in {
    display: block ;
    border: solid 1px #d7d7d7;
    border-radius: 5px;
}
.col-md-12 {
    margin: 0 0 0 auto;
}
/* Main show/hide button */
#code-folding-buttons {
    /* float: right; */
    position: fixed;
    top: 50px;
    z-index: 1000;
    right: 10px;
}
#code-folding-buttons .pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}
#code-folding-buttons .btn.btn-default.btn-xs.dropdown-toggle {
    float: right;
}
#code-folding-buttons.open > .dropdown-menu {
    display: block;
}
#code-folding-buttons .dropdown-menu {
    /* position: absolute;*/
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    /*float: left;*/
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
#code-folding-buttons .dropdown-menu li {
    padding: 5px;
    list-style: none;
}
#code-folding-buttons.open > .dropdown-menu {
    display: block;
}
/* End code folding */
